name: Build and Publish sdist and wheels on pypi

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.*'
    branches:
      - main
      - master

jobs:
  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 20
      - run: |
          git fetch --tags

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Build a source tarball
        run:
          python setup.py sdist

      - name: Store sdist as artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  build_wheels:
    name: Build wheels
    env:
      CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
      MACOSX_DEPLOYMENT_TARGET: '10.13'
      CIBW_BUILD_VERBOSITY: 2
      # Only build on Python 3.x
      CIBW_BUILD: 'cp3?-*'
      CIBW_SKIP: 'cp35-* cp39-* *-manylinux_i686'
      CIBW_BEFORE_TEST: pip install pytest
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          fetch-depth: 20

      - run: |
          git fetch --tags

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Install cibuildwheel
        run: |
          python -m pip install cibuildwheel==1.6.4

      - name: Build wheels on Linux
        env:
          CIBW_BEFORE_BUILD: 'yum update -y; yum -y install hdf5-devel boost169-devel'
          CIBW_ENVIRONMENT: BOOST_INCLUDEDIR='/usr/include/boost169' BOOST_LIBRARYDIR='/usr/lib64/boost169'
        run: |
          python -m cibuildwheel --output-dir dist

      - name: Store wheel as artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist

  upload_wheels:
    runs-on: ubuntu-latest
    needs: [build_sdist, build_wheels]
    name: Upload wheels to PyPI
    steps:
      - name: Download artifacts produced during the build_wheels and build_sdist jobs
        uses: actions/download-artifact@v2
        with:
          name: dist
          path: dist

      - name: Display structure of downloaded files
        run: ls -R
        working-directory: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages_dir: dist/